@*
*@
@{
    var date = Model.to.flightArrivalDate; //TODO making 2 identical API calls instead of one after implementing AJAX... not great lol
}
@model DeArbetslosa.Models.Timetable;
<head>
    <script src="~/js/site.js"> </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<h1>Arrivals</h1>
<h2>@Model.to.arrivalAirportEnglish @Model.to.arrivalAirportIata </h2>
<h3>@date</h3>
@using (Html.BeginForm("SetDate", "Arrivals", FormMethod.Post))
{
    <label for="date">date:</label>
    <input type="date" id="date" name="date" value="@date.ToString()">
    <button type="submit">Set date</button>
}
<br />
    <button onclick="refresh()">Refresh</button>
<div class="text-center">
    <div id="timetable">
        <p>
            Loading...
        </p>
    </div>
</div>

<script type="text/javascript">
    newArrivalsRequest("@date.ToString()");

    function refresh() {
    newArrivalsRequest("@date.ToString()");
    }
</script>
