@*
*@
@{
}
@model DeArbetslosa.Models.Arrivals;
@*
@Model.Flights[1].ArrivalTime.ScheduledUtc
*@
<head>
   <script src="~/js/site.js"> </script>
</head>
@using (Html.BeginForm("SetDate", "Arrivals", FormMethod.Post))
{
    <label for="date">date:</label>
    <input type="date" id="date" name="date">
    <button type="submit">Filter</button>
}
<div class="text-center">
    <table id="arrivalsTable">
        <th>Arrival time</th>
        <th>From</th>
        <th>Id</th>
        <th>Status</th>
        @foreach(var a in Model.Flights)
        {
            //TODO rewrite
            if(a.ArrivalTime.ScheduledUtc < DateTime.Now || a.LocationAndStatus.FlightLegStatusEnglish == "Deleted") //TODO compare to set time
            {
                //do nothing
            } else
            {
                
            <tr>
            <td>@a.ArrivalTime.ScheduledUtc</td>
            <td>@a.DepartureAirportEnglish</td>
            <td>@a.FlightId</td>
            <td>@a.LocationAndStatus.FlightLegStatusEnglish</td>
            </tr>
            }
        }
    </table>
</div>

<script type="text/javascript">
    sortTable();
</script>

