@*
*@
@{
    var date = Model.to.flightArrivalDate;
}
@model DeArbetslosa.Models.Timetable;
<head>
   <script src="~/js/site.js"> </script>
</head>
<h1>Arrivals</h1>
<h2>@Model.to.arrivalAirportEnglish @Model.to.arrivalAirportIata </h2>
<h3>@date</h3>
@using (Html.BeginForm("SetDate", "Arrivals", FormMethod.Post))
{
    <label for="date">date:</label>
    <input type="date" id="date" name="date">
    <button type="submit">Filter</button>
}
<div class="text-center">
    <table id="timetable">
        <thead>
        <th>Arrival time</th>
        <th>Airport</th>
        <th>Id</th>
        <th>Status</th>
        </thead>
        <tbody>

        @foreach(var a in Model.Flights)
        {
            //TODO rewrite
            //Hide flights already arrived and status deleted
            if(a.arrivalTime.scheduledUtc < DateTime.Now.AddHours(-2)) //TODO LINQ in controller instead?
            {
                //do nothing
            } else
            {
            <tr>
            <td>@a.arrivalTime.scheduledUtc.ToLocalTime().ToString("HH:mm")</td>
            <td>@a.departureAirportEnglish</td>
            <td>@a.flightId</td>
            <td>@a.locationAndStatus.flightLegStatusEnglish</td>
            </tr>
            }
        }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    organizeTable(); //TODO LINQ in controller instead?
</script>
